<%- include("partials/header") -%>

<h1>You are not registered with us.</h1>
<p><a href="/register">Click here to register</a> </p>

</div>
<div class="footer-padding"></div>
  <div class="footer1">
    <p>Made with ❤️ by Zeeshan</p>
  </div>
</div>
</body>
</html>
